# Exclude everything by default, then include just what we need
# Especially note this means that .git is not included, and not tests/
# to avoid spurious rebuilds.
*

# This one signals we're in a bootc toplevel
!ADOPTERS.md
# Toplevel build bits
!Makefile
!Cargo.*
# We do build manpages from markdown
!docs/
# We use the spec file
!contrib/
# The systemd units and baseimage bits end up in installs
!systemd/
!baseimage/
# And finally of course all the Rust sources
!crates/
